@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&family=Montserrat:wght@300;400;500;700&display=swap"); /*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header {
  padding: 20px 30px 100px 30px;
  background-image: linear-gradient(111deg, #eeffcd 0%, #98a9ef 52%, #eb8fe2 100%);
}
.header__menu {
  padding: 0 0 45px 0;
}
.header__main {
  display: flex;
  justify-content: space-between;
  margin: 0 -22px;
  align-items: center;
}
.header__information {
  padding: 0 22px;
}
.header__title {
  font-family: "Montserrat", sans-serif;
  color: #0b2635;
  font-size: 75px;
  font-weight: 500;
  padding: 0 0 20px 0;
}
.header__subtitle {
  color: #0b2635;
  font-size: 44px;
  font-weight: 500;
}
.header__cards {
  padding: 0 22px;
  width: 600px;
  height: 380px;
  background-color: rgba(227, 228, 248, 0.2);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.menu {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
}
.menu__logo {
  display: flex;
}
.menu__img img {
  width: 50px;
  height: 25px;
  margin: 0 0 0 -5px;
}
.menu__department {
  margin: -2px;
  font-size: 29px;
  font-weight: 700;
  padding: 0 4px 0 0;
}
.menu__speciality {
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: -2px;
  font-size: 7px;
  font-weight: 700;
  padding: 0 70px 0 0;
}
.menu__burger {
  display: none;
}
.menu__list {
  display: flex;
  margin: 0 -20px;
}
.menu__link {
  font-weight: 500;
  color: #0b2635;
  transition-duration: 0.35s;
  padding: 10px 20px 10px 20px;
}
.menu__link:hover {
  background-color: rgba(227, 228, 248, 0.2);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

@media (max-width: 1200px) {
  .header__main {
    padding: 50px 0 0 0;
    flex-direction: column;
  }
  .header__information {
    margin: 0 0 50px 0;
  }
  .header__title {
    font-size: 100px;
  }
  .header__subtitle {
    font-size: 60px;
  }
  .menu__img img {
    width: 60px;
    height: 30px;
  }
  .menu__department {
    font-size: 34.8px;
  }
  .menu__speciality {
    font-size: 8.4px;
  }
  .menu__link {
    font-size: 16.8px;
  }
}
@media (max-width: 900px) {
  .menu__img img {
    width: 65px;
    height: 32.5px;
  }
  .menu__department {
    font-size: 37.7px;
  }
  .menu__speciality {
    font-size: 9.1px;
  }
  .menu__link {
    font-size: 18.2px;
  }
  .header__title {
    font-size: 75px;
  }
  .header__subtitle {
    font-size: 44px;
  }
}
@media (max-width: 599px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 20px 30px 0 30px;
    justify-content: space-between;
  }
  .menu__img {
    position: relative;
    z-index: 5;
  }
  .menu__img img {
    width: 61px;
    height: 29px;
    margin: 0 0 0 -5px;
  }
  .menu__department {
    position: relative;
    font-size: 36px;
    z-index: 5;
  }
  .menu__speciality {
    position: relative;
    font-size: 8px;
    z-index: 5;
  }
  .menu__link {
    color: white;
    font-weight: 700;
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0, 100%);
  }
  .menu__list > li {
    font-size: 30px;
    margin: 0 0 50px 0;
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-image: linear-gradient(111deg, #eeffcd 0%, #98a9ef 52%, #eb8fe2 100%);
  }
  .menu__burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__burger::before, .menu__burger::after, .menu__burger span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: black;
  }
  .menu__burger::before, .menu__burger::after {
    content: "";
  }
  .menu__burger::before {
    top: 0;
  }
  .menu__burger::after {
    bottom: 0;
  }
  .menu__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__burger._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .menu__burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  .header__main {
    padding: 50px 0 0 0;
  }
  .header__information {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 50px 0 0 0;
  }
  .header__title {
    font-size: 45px;
    margin: 0 0 0 -15px;
  }
  .header__subtitle {
    font-size: 25px;
  }
  .header__cards {
    width: 80%;
  }
}
.body {
  flex-grow: 1;
}

.students-and-applicants {
  padding: 120px 30px;
}
.students-and-applicants__row {
  display: flex;
  margin: 0 -90px;
}
.students-and-applicants__info-card {
  flex: 0 0 50%;
  padding: 0 90px;
}
@media (max-width: 900px) {
  .students-and-applicants__row {
    margin: 0 -40px;
  }
  .students-and-applicants__info-card {
    padding: 0 40px;
  }
}
@media (max-width: 599px) {
  .students-and-applicants__row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .students-and-applicants__info-card {
    flex: 0 0 70%;
    padding: 0 0 70px 0;
  }
  .students-and-applicants__info-card:last-child {
    padding: 0;
  }
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-card__logo {
  padding: 0 0 16px 0;
}
.info-card__logo img {
  width: 42px;
  height: 42px;
}
.info-card__title {
  flex-grow: 1;
  font-weight: 500;
  text-align: center;
  color: #0b2635;
  font-size: 30px;
  padding: 0 0 28px 0;
}
.info-card__info {
  flex-grow: 1;
  text-align: center;
  color: #0b2635;
  font-size: 14px;
  line-height: 1.2;
  padding: 0 0 28px 0;
}
.info-card__button {
  background-image: linear-gradient(103deg, #eeffcd 0%, #98a9ef 52%, #eb8fe2);
  border-radius: 60px;
  width: 137px;
  height: 31px;
  transition-duration: 0.35s;
}
.info-card__button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 12px;
}
.info-card__button:hover {
  border-radius: 60px 0 60px 0;
  background-image: linear-gradient(103deg, #d7fa89 0%, #6480f5 52%, #e35cd8);
}
@media (min-width: 1800px) {
  .info-card__title {
    font-size: 32px;
  }
  .info-card__info {
    font-size: 18px;
  }
}

.about-department {
  background-color: #e3e4f8;
  padding: 45px 30px;
}
.about-department__title {
  padding: 0 0 20px 0;
  font-size: 30px;
  color: #0b2635;
  font-weight: 700;
}
.about-department__row {
  display: flex;
  margin: 0 -38px;
}
.about-department__list {
  padding: 0 38px;
  color: #0b2635;
  flex: 0 0 60%;
  line-height: 1.2;
}
.about-department__list li {
  padding: 0 0 25px 0;
}
.about-department__list li:last-child {
  padding: 0;
}
.about-department__img {
  padding: 0 20px;
  position: relative;
}
.about-department__img img {
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
@media (min-width: 1800px) {
  .about-department__title {
    font-size: 35px;
  }
  .about-department__list {
    font-size: 18px;
  }
}
@media (max-width: 900px) {
  .about-department__title {
    text-align: center;
  }
  .about-department__row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-department__list {
    flex: 0 0 80%;
    padding: 0 0 50px 0;
  }
  .about-department__img {
    flex: 0 0 80%;
    height: 70%;
  }
  .about-department__img img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 599px) {
  .about-department__title {
    font-size: 33px;
  }
  .about-department__list {
    font-size: 16px;
  }
}

.teachers {
  padding: 130px 30px;
}
.teachers__title {
  padding: 0 0 55px 0;
}
.teachers__row {
  display: flex;
  margin: 0 -20px;
}
.teachers__teacher-card {
  padding: 0 20px;
  flex: 0 0 25%;
}
@media (max-width: 900px) {
  .teachers__row {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .teachers__teacher-card {
    flex: 0 0 35%;
    margin: 0 0 40px 0;
  }
  .teachers__teacher-card:nth-child(3) {
    margin: 0;
  }
  .teachers__teacher-card:nth-child(4) {
    margin: 0;
  }
}
@media (max-width: 599px) {
  .teachers__teacher-card {
    flex: 0 0 60%;
    margin: 0 0 30px 0;
  }
  .teachers__teacher-card:nth-child(3) {
    margin: 0 0 30px 0;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -5px;
}
.title__img {
  padding: 0 5px;
}
.title__img img {
  width: 42px;
  height: 42px;
}
.title__text {
  padding: 0 5px;
  font-size: 30px;
  color: #0b2635;
  font-weight: 700;
}
@media (min-width: 1800px) {
  .title__text {
    font-size: 37px;
  }
}
@media (max-width: 599px) {
  .title__text {
    font-size: 25px;
  }
}

.teacher-card {
  display: flex;
  flex-direction: column;
}
.teacher-card__photo {
  position: relative;
}
.teacher-card__photo img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 185px;
  top: 0;
  left: 0;
  object-fit: cover;
}
.teacher-card__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-family: "Montserrat", sans-serif;
}
.teacher-card__full-name {
  font-weight: 300;
  color: #fff;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}
.teacher-card__achievements {
  font-weight: 300;
  text-align: center;
  color: #fff;
  font-size: 12px;
  padding: 12px;
}
.teacher-card__colour-1 {
  background-image: linear-gradient(120deg, #9153ff, rgba(145, 83, 255, 0.4) 100%);
}
.teacher-card__colour-2 {
  background-image: linear-gradient(120deg, #eb8fe2, rgba(235, 143, 226, 0.4) 100%);
}
.teacher-card__colour-3 {
  background-image: linear-gradient(120deg, #7e95f5, rgba(152, 169, 239, 0.4) 100%);
}
.teacher-card__colour-4 {
  background-image: linear-gradient(120deg, rgba(255, 111, 83, 0.4), #d3e879 100%);
}
@media (min-width: 1800px) {
  .teacher-card__photo img {
    height: 260px;
  }
}
@media (max-width: 900px) {
  .teacher-card__photo img {
    height: 210px;
  }
}

.future-professions {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(106deg, #eeffcd 0%, #98a9ef 52%, #eb8fe2);
  padding: 50px 30px 0 30px;
}
.future-professions__row {
  display: flex;
}
.future-professions__info {
  flex: 0 0 30%;
  padding: 0 30px 0 0;
}
.future-professions__title {
  font-size: 44px;
  color: #fff;
  padding: 0 0 30px 0;
}
.future-professions__subtitle {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 300;
  line-height: 1.2;
}
.future-professions__profession-card-row {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  margin: 0 -20px;
}
.future-professions__profession-card {
  padding: 0 20px 50px 20px;
  flex: 0 0 33.3%;
}
@media (min-width: 1800px) {
  .future-professions__title {
    font-size: 50px;
    padding: 0 0 50px 0;
  }
  .future-professions__subtitle {
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  .future-professions__title {
    text-align: center;
  }
  .future-professions__subtitle {
    font-size: 16px;
    padding: 0 0 30px 0;
  }
  .future-professions__row {
    flex-direction: column;
  }
  .future-professions__profession-card-row {
    margin: 0 -10px;
  }
  .future-professions__profession-card {
    padding: 0 10px 50px 10px;
    flex: 0 0 26%;
  }
}
@media (max-width: 599px) {
  .future-professions__title {
    font-size: 35px;
  }
  .future-professions__profession-card-row {
    margin: 0 -15px;
  }
  .future-professions__profession-card {
    padding: 0 15px 50px 15px;
    flex: 0 0 50%;
  }
}

.profession-card {
  display: flex;
  flex-direction: column;
}
.profession-card__img {
  position: relative;
}
.profession-card__img img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
  object-fit: cover;
}
.profession-card__profession {
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 20px 20px;
  padding: 5px 0;
  font-size: 12px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: center;
}
@media (min-width: 1800px) {
  .profession-card__img img {
    height: 160px;
  }
}
@media (max-width: 900px) {
  .profession-card__img img {
    height: 150px;
  }
}
.partners {
  padding: 140px 30px;
}
.partners__title {
  padding: 0 0 60px 0;
}
.partners__col {
  display: flex;
  flex-direction: column;
}
.partners__company {
  border-bottom: solid 2px white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners__company:first-child {
  border-radius: 20px 20px 0 0;
}
.partners__company:last-child {
  border-radius: 0 0 20px 20px;
}

.company {
  background-color: #e3e4f8;
}
.company__img {
  border-right: solid 2px white;
  padding: 25px 0;
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.company__img img {
  width: 80%;
  height: 80%;
  top: 0;
  left: 0;
  object-fit: contain;
}
.company__text {
  padding: 0 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #0b2635;
  line-height: 1.5;
}

.footer {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(103deg, #eeffcd 0%, #98a9ef 52%, #eb8fe2);
  padding: 45px 30px 0 30px;
}
.footer__row {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
  border-bottom: solid 1px #aeaeae;
  border-top: solid 1px #aeaeae;
}
.footer__title {
  font-size: 18px;
  color: #fff;
  padding: 15px 0 15px 0;
}
.footer__map {
  flex: 0 0 50%;
}
.footer__map iframe {
  width: 100%;
  height: 200px;
}
.footer__copyright {
  font-size: 12px;
  color: #aeaeae;
  font-family: "Montserrat", sans-serif;
  padding: 20px 0 20px 40px;
}

.img-and-text {
  display: flex;
  margin: 0 -5px;
}
.img-and-text__img {
  padding: 0 5px;
}
.img-and-text__img img {
  height: 15px;
  width: 15px;
}
.img-and-text__text {
  font-size: 12px;
  padding: 0 0 10px 0;
  color: #fff;
  font-weight: 300;
}

body {
  font-family: "Comfortaa", sans-serif;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container-for-header {
  max-width: 1100px;
  margin: 0 auto;
}

.container {
  max-width: 850px;
  margin: 0 auto;
}

@media (min-width: 1800px) {
  .container-for-header {
    max-width: 1600px;
  }
  .container {
    max-width: 1100px;
  }
}

/*# sourceMappingURL=style.css.map */
