@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-down {
  @media (max-width: 900px) { @content; }
}
@mixin for-tablet-landscape-down {
  @media (max-width: 1200px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1800px) { @content; }
}

.body {
  flex-grow: 1;
}

.students-and-applicants {
  padding: 120px 30px;
  &__row {
    display: flex;
    margin: 0 -90px;
  }
  &__info-card {
    flex: 0 0 50%;
    padding: 0 90px;
  }

  @include for-tablet-landscape-down {}
  @include for-tablet-portrait-down {
    &__row {
      margin: 0 -40px;
    }
    &__info-card {
      padding: 0 40px;
    }
  }
  @include for-phone-only {
    &__row {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__info-card {
      flex: 0 0 70%;
      padding: 0 0 70px 0;
      &:last-child {
        padding: 0;
      }
    }
  }
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__logo {
    img {
      width: 42px;
      height: 42px;
    }
    padding: 0 0 16px 0;
  }
  &__title {
    flex-grow: 1;
    font-weight: 500;
    text-align: center;
    color: #0b2635;
    font-size: 30px;
    padding: 0 0 28px 0;
  }
  &__info {
    flex-grow: 1;
    text-align: center;
    color: #0b2635;
    font-size: 14px;
    line-height: 1.2;
    padding: 0 0 28px 0;
  }
  &__button {
    background-image: linear-gradient(103deg, #eeffcd 0%, #98a9ef 52%, #eb8fe2);
    border-radius: 60px;
    width: 137px;
    height: 31px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      font-size: 12px;
    }
    transition-duration: 0.35s;
    &:hover {
      border-radius: 60px 0 60px 0;
      background-image: linear-gradient(103deg, #d7fa89 0%, #6480f5 52%, #e35cd8);
    }
  }

  @include for-desktop-up {
    &__title {
      font-size: 32px;
    }
    &__info {
      font-size: 18px;
    }
  }
}

.about-department {
  background-color: #e3e4f8;
  padding: 45px 30px;
  &__title {
    padding: 0 0 20px 0;
    font-size: 30px;
    color: #0b2635;
    font-weight: 700;
  }
  &__row {
    display: flex;
    margin: 0 -38px;
  }
  &__list {
    padding: 0 38px;
    color: #0b2635;
    flex: 0 0 60%;
    line-height: 1.2;
    li {
      padding: 0 0 25px 0;
    }
    li:last-child {
      padding: 0;
    }
  }
  &__img {
    padding: 0 20px;
    position: relative;
    img{
      border-radius: 20px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  @include for-desktop-up {
    &__title {
      font-size: 35px;
    }
    &__list {
      font-size: 18px;
    }
  }
  @include for-tablet-landscape-down {}
  @include for-tablet-portrait-down {
    &__title {
      text-align: center;
    }
    &__row {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__list {
      flex: 0 0 80%;
      padding: 0 0 50px 0;
    }
    &__img {
      flex: 0 0 80%;
      height: 70%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  @include  for-phone-only {
    &__title {
      font-size: 33px;
    }
    &__list {
      font-size: 16px;
    }
  }
}

.teachers {
  padding: 130px 30px;
  &__title {
    padding: 0 0 55px 0;
  }
  &__row {
    display: flex;
    margin: 0 -20px;
  }
  &__teacher-card {
    padding: 0 20px;
    flex: 0 0 25%;
  }
  @include for-tablet-portrait-down {
    &__row {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    &__teacher-card {
      flex: 0 0 35%;
      margin: 0 0 40px 0;
      &:nth-child(3) {
        margin: 0;
      }
      &:nth-child(4) {
        margin: 0;
      }
    }
  }
  @include for-phone-only {
    &__teacher-card {
      flex: 0 0 60%;
      margin: 0 0 30px 0;
      &:nth-child(3) {
        margin: 0 0 30px 0;
      }
    }
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -5px;
  &__img {
    padding: 0 5px;
    img {
      width: 42px;
      height: 42px;
    }
  }
  &__text {
    padding: 0 5px;
    font-size: 30px;
    color: #0b2635;
    font-weight: 700;
  }

  @include for-desktop-up {
    &__text {
      font-size: 37px;
    }
  }
  @include for-phone-only {
    &__text {
      font-size: 25px;
    }
  }
}

.teacher-card {
  display: flex;
  flex-direction: column;
  &__photo {
    position: relative;
    img{
      border-radius: 20px 20px 0 0;
      width: 100%;
      height: 185px;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  &__info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat', sans-serif;
  }
  &__full-name {
    font-weight: 300;
    color: #fff;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  &__achievements {
    font-weight: 300;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 12px;
  }
  &__colour-1 {
    background-image: linear-gradient(120deg, #9153ff, rgba(145, 83, 255, 0.4) 100%);
  }
  &__colour-2 {
    background-image: linear-gradient(120deg, #eb8fe2, rgba(235, 143, 226, 0.4) 100%);
  }
  &__colour-3 {
    background-image: linear-gradient(120deg, #7e95f5, rgba(152, 169, 239, 0.4) 100%);
  }
  &__colour-4 {
    background-image: linear-gradient(120deg, rgba(255, 111, 83, 0.4), #d3e879 100%);
  }

  @include for-desktop-up {
    &__photo {
      img {
        height: 260px;
      }
    }
  }
  @include for-tablet-portrait-down {
    &__photo {
      img {
        height: 210px;
      }
    }
  }

}

.future-professions {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(106deg, #eeffcd 0%, #98a9ef 52%, #eb8fe2);
  padding: 50px 30px 0 30px;
  &__row {
    display: flex;
  }
  &__info {
    flex: 0 0 30%;
    padding: 0 30px 0 0;
  }
  &__title {
    font-size: 44px;
    color: #fff;
    padding: 0 0 30px 0;
  }
  &__subtitle {
    font-size: 14px;
    color: rgba(255,255,255,0.75);
    font-weight: 300;
    line-height: 1.2;
  }
  &__profession-card-row {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin: 0 -20px;
  }
  &__profession-card {
    padding: 0 20px 50px 20px;
    flex: 0 0 33.3%
  }
}

.profession-card {
  display: flex;
  flex-direction: column;
  &__img {
    position: relative;
    img{
      border-radius: 20px 20px 0 0;
      width: 100%;
      height: 120px;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  &__profession {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0 0 20px 20px;
    padding: 5px 0;
    font-size: 12px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
  }
}

.partners {
  padding: 140px 30px;
  &__title {
    padding: 0 0 60px 0;
  }
  &__col {
    display: flex;
    flex-direction: column;
  }
  &__company {
    border-bottom: solid 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    &:first-child {
      border-radius: 20px 20px 0 0;
    }
    &:last-child {
      border-radius: 0 0 20px 20px;
    }
  }
}

.company {
  background-color: #e3e4f8;
  &__img {
    border-right: solid 2px white;
    padding: 25px 0;
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    img{
      width: 80%;
      height: 80%;
      top: 0;
      left: 0;
      object-fit: contain;
    }
  }
  &__text {
    padding: 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #0b2635;
    line-height: 1.5;
  }
}