@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-down {
  @media (max-width: 900px) { @content; }
}
@mixin for-tablet-landscape-down {
  @media (max-width: 1200px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1800px) { @content; }
}


.header {
  padding: 20px 30px 100px 30px;
  background-image: linear-gradient(111deg, #eeffcd 0%, #98a9ef 52%, #eb8fe2 100%);
  &__menu {
    padding: 0 0 45px 0
  }
  &__main {
    display: flex;
    justify-content: space-between;
    margin: 0 -22px;
    align-items: center;
  }
  &__information {
    padding: 0 22px;
  }
  &__title {
    font-family: 'Montserrat', sans-serif;
    color: #0b2635;
    font-size: 75px;
    font-weight: 500;
    padding: 0 0 20px 0;
  }
  &__subtitle {
    color: #0b2635;
    font-size: 44px;
    font-weight: 500;
  }
  &__cards {
    padding: 0 22px;
    width: 490px;
    height: 380px;
    background-color: rgba(227, 228, 248, 0.2);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  &__in {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__card-wrapper {
    display: flex;
    align-items: center;
  }
  &__slider-card {

  }
}

.slider-card {
  width: 220px;
  height: 280px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  &__story-row {
    padding: 20px 0 15px 0;
    display: flex;
    justify-content: center;
  }
  &__story {
    border-radius: 4px;
    margin: 0 1px;
    flex: 0 0 30%;
    background: #cccccc;
    height: 2px;
  }
  &__active-story {
    border-radius: 4px;
    margin: 0 1px;
    flex: 0 0 30%;
    background: #fffdfd;
    height: 2px;
  }
  &__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: #d2ccd7;
    padding: 0 10px 15px 10px;
  }
  &__title {
    flex-grow: 1;
    padding: 0 10px;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    span {
      color: #ccc;
    }
  }
  &__button {
    margin: 0 auto 20px auto;
    width: 140px;
    height: 35px;
    border-radius: 20px;
    border: solid 1px #fff;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      color: #fff;
      &:hover {
        color: #0b2635;
      }
    }
    &:hover {
      border: solid 1px #0b2635;
    }
  }
  &__colour1 {
    background-image: linear-gradient(146deg, #e18fd9 24%, rgba(242, 255, 217, 0.8) 100%);
  }
  &__colour2 {
    background-image: linear-gradient(144deg, #9153ff 27%, rgba(242, 255, 217, 0.8) 100%);
  }
  &__colour3 {
    background-image: linear-gradient(146deg, #7e95f5 24%, rgba(242, 255, 217, 0.8) 100%);
  }
}
.swiper-button-next {
  height: 65%;
  transform: translateY(-41%);
  opacity: 0;
}
.swiper-button-prev {
  height: 65%;
  transform: translateY(-41%);
  opacity: 0;
}

.menu {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  &__logo {
    display: flex;
  }
  &__img {
    img {
      width: 50px;
      height: 25px;
      margin: 0 0 0 -5px;
    }
  }
  &__department {
    margin: -2px;
    font-size: 29px;
    font-weight: 700;
    padding: 0 4px 0 0 ;
  }
  &__speciality {
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -2px;
    font-size: 7px;
    font-weight: 700;
    padding: 0 70px 0 0 ;
  }
  &__burger {
    display: none;
  }
  &__body {}
  &__list {
    display: flex;
    margin: 0 -20px;
  }
  &__link {
    font-weight: 500;
    color: #0b2635;
    transition-duration: 0.35s;
    padding: 10px 20px 10px 20px;
    &:hover {
      background-color: rgba(227, 228, 248, 0.2);
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      border-radius: 20px;
    }
  }
}

@include for-desktop-up {
  .header {
    &__title {
      font-size: 100px;
    }
    &__subtitle {
      font-size: 60px;
    }
    &__cards {
      width: 600px;
    }
    &__in {
      width: 80%;
    }
  }
  .menu {
    &__img {
      img {
        width: 50 * 1.2px;
        height: 25 * 1.2px;
      }
    }
    &__department {
      font-size: 29 * 1.2px;
    }
    &__speciality {
      font-size: 7 * 1.2px;
    }
    &__link {
      font-size: 14 * 1.2px;
    }
  }
}
@include for-tablet-landscape-down {
  .header {
    &__main {
      padding: 50px 0 0 0;
      flex-direction: column;
    }
    &__information {
      margin: 0 0 50px 0;
    }
    &__title {
        font-size: 100px;
    }
    &__subtitle {
      font-size: 60px;
    }
  }
  .menu {
    &__img {
      img {
        width: 50 * 1.2px;
        height: 25 * 1.2px;
      }
    }
    &__department {
      font-size: 29 * 1.2px;
    }
    &__speciality {
      font-size: 7 * 1.2px;
    }
    &__link {
      font-size: 14 * 1.2px;
    }
  }
}

@include for-tablet-portrait-down {
  .menu {
    &__img {
      img {
        width: 50 * 1.3px;
        height: 25 * 1.3px;
      }
    }
    &__department {
      font-size: 29 * 1.3px;
    }
    &__speciality {
      font-size: 7 * 1.3px;
    }
    &__link {
      font-size: 14 * 1.3px;
    }
  }
  .header {
    &__title {
      font-size: 75px;
    }
    &__subtitle {
      font-size: 44px;
    }
  }
}

@include for-phone-only {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 20px 30px 0 30px;
    justify-content: space-between;
    &__img {
      position: relative;
      z-index: 5;
      img {
        width: 61px;
        height: 29px;
        margin: 0 0 0 -5px;
      }
    }
    &__department {
      position: relative;
      font-size: 36px;
      z-index: 5;
    }
    &__speciality {
      position: relative;
      font-size: 8px;
      z-index: 5;
    }
    &__link {
      color: white;
      font-weight: 700;
    }
    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translate(0, 100%);
      & > li {
        font-size: 30px;
        margin: 0 0 50px 0;
      }
    }
    &__body {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 100px 30px 30px 30px;
      transition: left 0.3s ease 0s;
      overflow: auto;
      &._active {
        left: 0;
      }
      &::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 75px;
        background-image: linear-gradient(111deg, #eeffcd 0%, #98a9ef 52%, #eb8fe2 100%);
      }
    }
    &__burger {
      z-index: 5;
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;
      &::before, &::after, span {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: black
      }
      &::before, &::after {
        content: "";
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
      }
      &._active {
        & span {
          transform: scale(0) translate(0px, -50%);
        }
        &::before {
          top: 50%;
          transform: rotate(-45deg) translate(0, -50%);
        }
        &::after {
          bottom: 50%;
          transform: rotate(45deg) translate(0, 50%);
        }
      }
    }
  }
  .header {
    &__main {
      padding: 50px 0 0 0;
    }
    &__information {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
      padding: 50px 0 0 0;
    }
    &__title {
      font-size: 45px;
      margin: 0 0 0 -15px;
    }
    &__subtitle {
      font-size: 25px;
    }
    &__cards {
      width: 80%;
    }
  }
}
